
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
    <div class="login-form">
        <div class="login-form-box">
            <div class="login-form-header">
                <h2>Giriş Yap</h2>
                <p>Henüz bir hesabınız yok mu ? <a href="">Kayıt Ol</a></p>
            </div>
            <form action="">
                <div class="input-item">
                    <input type="text" placeholder="İsim Giriniz">
                </div>
                <div class="input-item">
                    <input type="text" placeholder="Şifre Giriniz">
                </div>
                <div class="remember-pass">
                    <input type="checkbox" id="html">
                    <label for="html">Beni hatırla</label>
                </div>
                <button>Gönder</button>
            </form>
        </div>
    </div>
</body>
</html>
